  <div class="alert alert-warning">
    <strong>Notice!</strong> All BTC Lending will be suspended until after August 1 at the earliest. We are doing this to protect you, and the low rates are not worth the risk. 
    <br /> Poloniex has stated that if there is a fork in bitcoin, the lender WILL NOT get both sides of the fork, meaning Poloniex will choose which side of the fork you will own. If you are not lending at the time of a fork, then you will receive BOTH sides of the fork. We are stopping lending early so you can pull your funds off of Poloniex if you so choose. All your funds should be available to be withdrawn around July 27 6:00 UTC, as no new loans will go out 2 days before this.
    <br />
    <br />
    Read more about the potential fork here: https://bitcoinmagazine.com/articles/countdown-segwit-these-are-dates-keep-eye/
    <br />
    Contact us on our slack for any questions or concerns.
  </div>

  <div class="row tile_count">
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
    <!-- Current Daily -->
      <span class="count_top"><i class="fa fa-user"></i> Current Lending Rate</span>
      <div class="count">{{currentUserStats.loanrate * 100 | number : 5}}%</div>
      <!-- Change -->

        <span ng-hide="currentUserStats.loanratechange.toFixed(3) == 0" class="count_bottom">
            <i ng-class="currentUserStats.loanratechange > 0.0 ? 'green' : 'red'">
            <i ng-class="currentUserStats.loanratechange > 0.0 ? 'fa fa-sort-asc' : 'fa fa-sort-desc'">
        </i> {{currentUserStats.loanratechange | number : 2}}% </i> from yesterday</span>
    </div>

    <!-- Current BTC Lent -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Current BTC Lent</span>
      <div class="count green">{{currentUserStats.btclent | number : 3}} BTC</div>
      <!-- Change -->
        <span ng-hide="currentUserStats.btclentchange.toFixed(3) == 0" class="count_bottom">
            <i ng-class="currentUserStats.btclentchange > 0.0 ? 'green' : 'red'">
            <i ng-class="currentUserStats.btclentchange > 0.0 ? 'fa fa-sort-asc' : 'fa fa-sort-desc'">
        </i> {{currentUserStats.btclentchange | number : 2}} </i> from yesterday</span>
    </div>

    <!-- Current Not Lent -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Current Not Lent</span>
      <div class="count red">{{currentUserStats.btcnotlent | number : 3}} BTC</div>
       <!-- Change -->
        <span ng-hide="currentUserStats.btcnotlentchange.toFixed(3) == 0" class="count_bottom">
            <i ng-class="currentUserStats.btcnotlentchange > 0.0 ? 'red' : 'green'">
            <i ng-class="currentUserStats.btcnotlentchange > 0.0 ? 'fa fa-sort-desc' : 'fa fa-sort-asc'">
        </i> {{currentUserStats.btcnotlentchange | number : 2}} </i> from yesterday</span>
    </div>

    <!-- Daily BTC Earnings -->
<!--     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Daily BTC Earning</span>
      <div class="count">0000</div>
   
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> from yesterday</span>
    </div> -->

    <!-- Lending Uptime -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Available BTC Lent</span>
      <div class="count">{{currentUserStats.lendingpercent * 100| number : 3}}%</div>
       <!-- Change -->
        <span ng-hide="currentUserStats.lendingpercentchange.toFixed(3) == 0" class="count_bottom">
            <i ng-class="currentUserStats.lendingpercentchange > 0.0 ? 'green' : 'red'">
            <i ng-class="currentUserStats.lendingpercentchange > 0.0 ? 'fa fa-sort-asc' : 'fa fa-sort-desc'">
        </i> {{currentUserStats.lendingpercentchange | number : 2}}% </i> from yesterday</span>
    </div>

    <!-- Happiness :) -->
   <!--  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Happiness</span>
      <div class="count">110%</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>10% </i> from yesterday</span>
    </div> -->
  </div>