  <div class="row tile_count">
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
    <!-- Current Daily -->
      <span class="count_top"><i class="fa fa-user"></i> Current Daily Rate</span>
      <div class="count">{{currentUserStats.loanrate * 100 | number : 5}}%</div>
      <!-- Change -->
        <span ng-hide="Math.abs(currentUserStats.loanratechange).toFixed(3) <= 0.00" class="count_bottom">
            <i ng-class="currentUserStats.loanratechange > 0.0 ? 'green' : 'red'"><i class="fa fa-sort-asc">
        </i> {{currentUserStats.loanratechange | number : 2}}% </i> From last Week</span>
    </div>

    <!-- Current BTC Lent -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Current BTC Lent</span>
      <div class="count green">{{currentUserStats.btclent | number : 3}} BTC</div>
      <!-- Change -->
        <span ng-hide="Math.abs(currentUserStats.btclentchange).toFixed(3) <= 0.00" class="count_bottom">
            <i ng-class="currentUserStats.btclentchange > 0.0 ? 'green' : 'red'"><i class="fa fa-sort-asc">
        </i> {{currentUserStats.btclentchange | number : 2}}% </i> From last Week</span>
    </div>

    <!-- Current Not Lent -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Current Not Lent</span>
      <div class="count red">{{currentUserStats.btcnotlent | number : 3}} BTC</div>
       <!-- Change -->
        <span ng-hide="Math.abs(currentUserStats.btcnotlentchange).toFixed(3) <= 0.00" class="count_bottom">
            <i ng-class="currentUserStats.btcnotlentchange > 0.0 ? 'red' : 'green'"><i class="fa fa-sort-desc">
        </i> {{currentUserStats.btcnotlentchange | number : 2}}% </i> From last Week</span>
    </div>

    <!-- Daily BTC Earnings -->
<!--     <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Daily BTC Earning</span>
      <div class="count">0000</div>
   
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div> -->

    <!-- Lending Uptime -->
    <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Lending Uptime</span>
      <div class="count">{{currentUserStats.lendingpercent * 100| number : 3}}%</div>
       <!-- Change -->
        <span ng-hide="Math.abs(currentUserStats.lendingpercentchange).toFixed(3) <= 0.00" class="count_bottom">
            <i ng-class="currentUserStats.lendingpercentchange > 0.0 ? 'green' : 'red'"><i class="fa fa-sort-asc">
        </i> {{currentUserStats.lendingpercentchange | number : 2}}% </i> From last Week</span>
    </div>

    <!-- Happiness :) -->
   <!--  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Happiness</span>
      <div class="count">110%</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>10% </i> From last Week</span>
    </div> -->
  </div>