 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Lending History<small> Completed loans on your account</small></h2>
      <div class="clearfix"></div>
      These numbers are calculated by the CLOSE dates of a loan, this means that the profit does not necessarily include the loans created on the day. Since our loans are maxed out at 2 days, today's profit could include loans from 2 days ago. This also hurts the distribution, as a day with short loan durations will look more profitible than a day with long loan durations.
    </div>
    <div class="x_content">
      <div id="lendingHistoryChart"></div>
    </div>
  </div>
</div>