
<div class="modal fade love-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg user-modal-shit">
   <div class="love-us-please">
   </div>
       <div class="love-us-please-inside">
      <div class="row">
        <div class="col-xs-12">
         <a href="/donate"><button type="button" class="btn btn-default">Love Us!</button></a>
         <button type="button" class="btn btn-default" data-dismiss="modal">Don't Love Us</button>
         </div>
     </div>
   </div>
 </div>
</div>


<!--         <div class="row">
          <blockquote>
            You must love us if you clicked on that button. Now if you like what we are doing and want to send us some love... here is our address<br>
            <span style="font-size: 10em"><i class="fa fa-heart"></i>BTC-Address</span>
          </blockquote>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-default" data-dismiss="modal">I dont love you guys that much... :(</button>
          </div>
        </div> -->