.love-us-please {
	height: 90vh;
	background: url("../img/heart.svg") no-repeat center center fixed;
	background-repeat: no-repeat;
	margin:0 auto;
}

.love-us-please-inside {
	position: absolute;
	left: 40%;
	top: 35%;
}

#bitcoindonate {
	position: absolute;
	top:33%;
	left: 25%;
	color: black;
	font-size: 20px;
	width: 250px;
	height: 250px;
	background: url("../img/donateaddress.png");
}

@media (max-width: 992px) {
	.love-us-please-inside {
		left: 33% !important;
	}
}

@media (max-width: 500px) {
	.love-us-please-inside {
		left: 20% !important;
	}
}

#dashboard-logo {
	max-width: 100%;
}

.greenClass .big-icon {
	color: green;
}

.redClass .big-icon {
	color: red;
}

.big-icon {
	font-size: 32px;
}

.nav-sm .dashboard-logo-big {
	display: none;
}

.nav-md .dashboard-logo-small {
	display: none;
}

.greenClass {
	background-color: #d8f9d2;
}

.greenClass.odd {
	background-color: #cae8c4 !important;
}

.yellowClass {
	background-color: #f9f2d2;
}

.yellowClass.odd {
	background-color: #e6e0c3 !important;
}


.redClass {
	background-color: #f9d2d2;
}

.redClass.odd {
	background-color: #e6c6c6 !important;
}
