 <div class="buffer"></div>
 <!-- Services Section -->
 <section id="summary">
 	<div class="container">
 		<div class="row text-center index-summary">
 			<div class="col-md-4">
 				<img src="/public/img/profit.svg" />
 				<h3 class="service-heading">[[msg . "index.body.grow_heading"]]</h3>
 				<p class="text-muted">[[msg . "index.body.grow_text"]]</p>
 			</div>
 			<div class="col-md-4">
 				<img src="/public/img/stopwatch.svg" />
 				<h3 class="service-heading">[[msg . "index.body.whatis"]]</h3>
 				<p class="text-muted">[[msg . "index.body.whatis_text"]]</p>
 			</div>
 			<div class="col-md-4">
 				<img src="/public/img/shield.svg" />
 				<h3 class="service-heading">[[msg . "index.body.hodlfunds"]]</h3>
 				<p class="text-muted">[[msg . "index.body.hodlfunds_text"]]</p>
 			</div>
 		</div>
 	</div>
</section>

<div class="buffer"></div>

<section id="earning-calculation">
	<div class="container">
		<div class="row text-center index-summary">
			<div class="col-xs-12">
				<h1 class="large-header">[[msg . "index.body.earnings"]]</h1>
			</div>
			<div class="col-xs-12 standard-text">
				<p>[[msg . "index.body.calculator"]]</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 col-md-offset-1 col-centered earning-caluclator">
				<div class="col-xs-8 col-xs-offset-2">
					<label>[[msg . "index.body.calculator.amount"]]</label>
					<input type="text" id="range_01" value="" name="range" />
					<label>[[msg . "index.body.calculator.time"]]</label>
					<input type="text" id="range_02" value="" name="range" />
				</div>
			</div>
			<div class="col-md-6 earning-caluclator">
				<!-- Earnings -->
				<p class="investment-return-desc">[[msg . "index.body.calculator.ifinvest.start"]] <span id="investment-amount">1</span> BTC <span id="caluclator-time">8</span> [[msg . "index.body.calculator.ifinvest.end"]]</p>
				<h3 class="investment-return"><span id="investment-return-variable">0</span> BTC</h3>
			</div>
		</div>
	</div>
</section>

<section id="join-our-slack">
	<div class="container">
		<div class="row">
			<div class="join-our-slack-text col-lg-6 col-md-6 col-md-offset-2">
				<h1>[[msg . "index.body.slack.join"]]</h1>
				<p>[[msg . "index.body.slack.description"]]</p>
				<div class="buffer"></div>
				<a data-toggle="modal" href="https://hodlzone-slack.herokuapp.com/"><b>[[msg . "index.body.slack.signup"]]</b></a>
				<div class="buffer"></div>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
				<img class="height-overflow" src="/public/img/slack.png" />
			</div>
		</div>
	</div>
</section>

<section id="more-information">
	<div class="container">
		<div class="row more-information-container">
			<div class="col-md-4">
				<div class="content">
					<h3>[[msg . "index.body.bottom.row.one"]]</h3>
					<h3>[[msg . "index.body.bottom.row.one_text"]]</h3>
					<div class="buffer"></div>
					<div class="buffer"></div>
					<a href="/information">[[msg . "index.body.bottom.row.one_msg"]]</a>
					<div class="buffer"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="content">
					<h3>[[msg . "index.body.bottom.row.two"]]</h3>
					<h3>[[msg . "index.body.bottom.row.two_text"]]</h3>
					<div class="buffer"></div>
					<div class="buffer"></div>
					<a href="/faq">[[msg . "dash.sidenav.faq"]]</a>
					<div class="buffer"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="content">
					<h3>[[msg . "index.body.bottom.row.three"]]</h3>
					<h3>[[msg . "index.body.bottom.row.three_text"]]</h3>
					<div class="buffer"></div>
					<div class="buffer"></div>
					<a href="https://medium.com/hodlzone">[[msg . "index.body.bottom.row.three_msg"]]</a>
					<div class="buffer"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="price">
	<div class="container">
		<div class="row text-center index-summary">
			<div class="col-xs-12">
				<h1 class="large-header">[[msg . "index.body.price"]]</h1>
			</div>
			<div class="col-xs-12 standard-text">
				<p>[[msg . "index.body.price.message"]]</p>
			</div>
		</div>
	</div>
</section>

<!-- Begin MailChimp Signup Form -->
<!--  -->
<!--End mc_embed_signup-->


<section id="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form action="//zone.us16.list-manage.com/subscribe/post?u=b8326b3a28cb249f2b89896ef&amp;id=22a8cc4af9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<h1>[[msg . "index.body.news.header"]]</h1>
					<h2>[[msg . "index.body.news.desc"]]</h2>
					<div class="buffer"></div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Your@Email.Address" type="email" value="" name="EMAIL" id="mce-EMAIL">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div> 
						<span class="input-group-btn">
							<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" type="button"><span>[[msg . "index.body.news.button"]]</span></button>
						</span>
					</div><!-- /input-group -->
				</form>
			</div>
		</div>
	</div>
</section>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<!-- For slider sets the variable -->
<script type="text/javascript">
	var weeks = 8
	var btcamount = 1
	var rate = .001
	var poloniexStats = [[.poloniexStats]];

	function updateBTCAmount () {
		if (poloniexStats != "null") {
			obj = JSON.parse(poloniexStats)
			rate = obj.monthavg
		}

		// A = P(1 + r/n)^nt
		//	P = btcamount
		//	n = 365
		//	t = 52/weeks
		//	r = rate * 365

		// 1 + r/n
		var center = 1 + rate
		var exp = 365 * (weeks/52)
		var total = btcamount * Math.pow(center,exp)
		var gains = total - btcamount

		var interest = Math.pow(1+(rate/1), weeks*7)
		$("#caluclator-time").text(weeks)
		$("#investment-amount").text(btcamount)
		$("#investment-return-variable").text(gains.toFixed(4))
	}
	updateBTCAmount()

	$("#range_02").ionRangeSlider({
		"min": 1,
		"step": 1,
		"from": 8,
		"max": 52,
		grid: true,
		onChange: function (data) {
			weeks = data.from
			console.log(data.from);
			updateBTCAmount()
		},
	});

	$("#range_01").ionRangeSlider({
		"min": 0.1,
		"step": 0.1,
		"from": 1,
		"max": 10,
		grid: true,
		onChange: function (data) {
			btcamount = data.from
			console.log(data.from);
			updateBTCAmount()
		},
	});
</script>