	<footer class="index-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright © 2017 HODL.ZONE</span>
				</div>
				<div class="col-md-4">
					<span class="copyright">Support: Support@hodl.zone </span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="/faq" class="portfolio-link" data-toggle="modal">FAQ</a>
						</li>
						<li> / <!--<li-->
						</li><li><a href="/contact" class="portfolio-link" data-toggle="modal">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</footer>


<iframe src="ablankpage.htm" id="temp" name="temp" style="display:none"></iframe>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100320722-1', 'auto');
  ga('send', 'pageview');
</script>
<form id='hiddenLoginForm' action='/' method='post' ng-hide="true">
    <input type='text' name='username' id="hiddenUser">
    <input type='password' name='password' id="hiddenPass">
    <button id='loginButton' type='button'>Login</button>
</form>
<!-- <script>
$(document).ready(function() {
    $('#loginForm').bind('submit', $('#loginForm'), function(event) {
        var form = this;

        // event.preventDefault();
        // event.stopPropagation();

        // if (form.submitted) {
        //     return;
        // }

        // form.submitted = true;
        // form.submitted = false;
        form.submit();

        // $.ajax({
        //     url: '/login',
        //     method : "POST",
        //     data: {
        //         username: $('input[name=username]').val(),
        //         password: $('input[name=password]').val()
        //     },
        //     success: function(response) {
        //         form.submitted = false;
        //         form.submit(); //invoke the save password in browser
        //     }
        // });
    });
    $('#registerForm').bind('submit', $('#registerForm'), function(event) {
        var form = this;

        event.preventDefault();
        event.stopPropagation();

        if (form.submitted) {
            return;
        }

        form.submitted = true;
        form.submitted = false;
        form.submit();
    });
});
</script> -->

	[[if eq .RunMode "dev"]]
		[[template "debug.html" .]]
	[[else]]
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-100320722-1', 'auto');
      ga('send', 'pageview');
    </script>
	[[end]]
	</body>
</html>
