	<footer class="index-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright © 2017 HODL.ZONE</span>
				</div>
				<div class="col-md-4">
					<span class="copyright">Support: Support@hodl.zone </span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="/faq" class="portfolio-link" data-toggle="modal">FAQ</a>
						</li>
						<li> / <!--<li-->
						</li><li><a href="/contact" class="portfolio-link" data-toggle="modal">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</footer>

	[[if eq .RunMode "dev"]]
		[[template "debug.html" .]]
	[[end]]
	</body>
</html>
