<div class="navbar navbar-inverse navbar-lock">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-brand" href="/">HODL.ZONE</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/faq"></span> FAQ</a></li>
        <li><a data-toggle="modal" data-target=".login-modal"></span> Login</a></li>
        <li><a data-toggle="modal" data-target=".register-modal"></span> Signup</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Log in -->
<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="loginError = '';">
  <div class="modal-dialog modal-lg user-modal-shit">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="right_col" role="main">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" name="loginForm" novalidate="">
                      <div class="item form-group" ng-show="loginError.length > 0">
                        <div class="col-md-9 col-sm-9 col-xs-9 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" style="color:red;">
                              <strong>Error!</strong> {{loginError}}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-xs-2 col-sm-offset-0" for="email">Email
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input type="email" id="email" ng-model="login.email" name="myemail" required="required" class="form-control col-md-7 col-xs-12" ng-disabled="attemptingLogin" class="login-field">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-sm-offset-0" for="password">Password
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input id="password" type="password" name="password" data-validate-length="6,100" class="form-control col-md-7 col-xs-12" required="required" ng-model="login.pass" ng-disabled="attemptingLogin" class="login-field">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-sm-offset-0" for="twofa">2FA
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input id="twofa" type="text" name="twofa" data-validate-length="6,6" class="form-control col-md-7 col-xs-12" ng-model="login.twofa" ng-disabled="attemptingLogin" placeholder="Optional..." class="login-field">
                          <sub>Only required if you have activated with your account.</sub>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-8">
            <a href="/newpass/request">Forgot Password?</a>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelLogin()">Cancel</button>
            <button type="button" class="btn btn-success" ng-disabled="attemptingLogin || !loginForm.$valid" ng-click="login()"><span ng-show="attemptingLogin"><i class="fa fa-spinner fa-spin"></i></span>Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Log in -->

<!-- Register -->
<div class="modal fade register-modal" tabindex="-1" role="dialog" aria-hidden="true" ng-init="registerError = '';">
  <div class="modal-dialog modal-lg user-modal-shit">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register a new account</h4>
      </div>
      <div class="modal-body">
        <div class="right_col" role="main">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" name="registerForm" novalidate="">
                      <div class="item form-group" ng-show="registerError.length > 0">
                        <div class="col-md-9 col-sm-9 col-xs-9 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" style="color:red;">
                              <strong>Error!</strong> {{registerError}}
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-xs-2 col-sm-offset-0" for="email">Email
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input type="email" id="email" ng-model="register.email" name="myemail" required="required" class="form-control col-md-7 col-xs-12" ng-disabled="attemptingRegister" class="login-field">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-sm-offset-0" for="password">Password
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input id="regPassword" type="password" name="regPassword" data-validate-length="6,100" class="form-control col-md-7 col-xs-12" required="required" ng-model="register.pass" ng-disabled="attemptingRegister" class="login-field">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-sm-offset-0" for="password2">Confirm Password
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input id="regPassword2" type="password" name="regPassword2" data-validate-length="6,100" class="form-control col-md-7 col-xs-12" ng-model="register.pass2" ng-disabled="attemptingRegister" required="required" data-validate-linked="regPassword" class="login-field">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2 col-xs-offset-1 col-sm-offset-0" for="invitecode">Invite Code
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-7">
                          <input id="invitecode" type="text" name="invitecode" data-validate-length="0,100" class="form-control col-md-7 col-xs-12" ng-model="register.invitecode" ng-disabled="attemptingRegister" class="login-field" required="required">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-8">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelRegister()">Cancel</button>
            <button type="button" class="btn btn-success" ng-disabled="attemptingRegister || !registerForm.$valid" ng-click="register()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Register -->
