[[set . "title" "Home"]]
[[template "dashboardHeader.html" .]]

<div ng-controller="dashBaseController">
	<ul>
		<li><a href="#/"><span>DashBoard</span></a></li>
		<li><a href="#/settings"><span>Settings</span></a></li>
		[[set . "yes" .UserLevel]]

		[[if gt "999" .UserLevel]]
		<!-- Sys Admin -->
		<li><a href="#/logs"><span>Logs</span></a></li>x
		[[end]]
		[[if gt "998" .UserLevel]]
		<!-- Admin -->
		[[end]]
		[[if gt "997" .UserLevel]]
		<!-- Moderator -->
		[[end]]
		<li><a href="/logout"><span>Logout</span></a></li>
	</ul>
	<h1>
		You are on the dashboard. User Level: [[.yes]]
	</h1>
	<hr />
	<!-- Where pages go to -->
	<div ng-view></div>
</div>
[[template "footer.html" .]]
