<div class="">
	<div class="page-title">
		<!-- Paid -->
		<div class="row">
			<div class="title_left">
				<h1>[[msg . "dash.deposit.title"]]</h1>
				<p>[[msg . "dash.deposit.desc"]]</p>
			</div>
		</div>
		<!-- Refund Policy -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="col-xs-12">
						<h1>[[msg . "dash.deposit.refundpolicy.title"]]</h1>
						<p>
							[[msg . "dash.deposit.refundpolicy.one"]]
						</p>

						<h1>[[msg . "dash.deposit.disclaimer.title"]]</h1>
						<p>
							[[msg . "dash.deposit.disclaimer.one"]]
						</p>
						<p>
							[[msg . "dash.deposit.disclaimer.two"]]
						</p>
						<p>
							[[msg . "dash.deposit.disclaimer.three"]]
						</p>
						<h1>[[msg . "dash.deposit.paymentproc.title"]]</h1>
						<p>
							[[msg . "dash.deposit.paymentproc.one"]]
						</p>
						<p>
							[[msg . "dash.deposit.paymentproc.two"]]
						</p>
						<h1>[[msg . "dash.deposit.howmuch.title"]]</h1>
						<p>
							[[msg . "dash.deposit.howmuch.one"]] <a href="dashboard#/prediction">[[msg . "dash.deposit.howmuch.here"]]</a>.
						</p>
						<h2>[[msg . "dash.deposit.coinbasecust.title"]]</h2>
						<p>
							[[msg . "dash.deposit.coinbasecust.one"]]
						</p>
						<h2>[[msg . "dash.deposit.paywithbtc.title"]]</h2>
						<p>
							[[msg . "dash.deposit.paywithbtc.one"]]
						</p>
					</div>
					<div class="col-xs-12" style="text-align: center;padding-top: 15px;">
						<div class="alert alert-danger fade in" role="alert" ng-show="paybtnLoading.length > 0">
							<strong>[[msg . "dash.deposit.loading"]]</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="paybtnError.length > 0">
							<strong>{{paybtnError}}</strong>
						</div>
						<div ng-hide="paybtnError.length > 0">
							<input id="accept-deposit-box" type="checkbox" name="vehicle" value="Bike"> [[msg . "dash.deposit.boxdesc"]]
							<br />
							<br />
							<a id="deposit-coinbase-button" href="https://www.coinbase.com/checkouts/{{code}}" class="btn btn-primary  coinbase-button2 disabled" style="" data-code="{{code}}" data-custom="{{username}}" >
								<i class="icon-basket"></i>[[msg . "dash.deposit.paythr"]]
							</a>
							<div class="clearfix"></div>
							<small><i>{{username}}</i> [[msg . "dash.deposit.accountcredit"]]</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
		<!-- /Refund Policy -->
	</div>
</div>

