<div class="">
	<div class="page-title">
		<!-- Paid -->
		<div class="row">
			<div class="title_left">
				<h1>Deposit</h1>
				<p>Adding credits to your HODL.ZONE bot.</p>
			</div>
		</div>
		<!-- Refund Policy -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="col-xs-12">
						<h1>Refund Policy (No Refund)</h1>
						<p>
							All products are sold “as is”. You assume the responsibility for your purchase, and no refunds will be issued. Any unspent credits will remain on your account until further loans are placed and debt is accumulated.
						</p>

						<h1>Disclaimer</h1>
						<p>
							By depositing credits, you allow HODL.ZONE to make loans to margin traders on your behalf. These credits will be automatically used to pay the debt accumulated by the bots actions. The debt will be accrued at the maximum rate of 10% of the gross profits per loan at the time of the loan closing. For currencies other than BTC, the BTC value of the token will be taken at the time of the debt being issued. If your account runs out of credits, HODL.ZONE reserves the right to cease all lending action until more credits are added. 
						</p>
						<p>
							HODL.ZONE will count any loan closing after the lending is enabled as a loan created by HODL.ZONE. Any loans created by the user while the bot is enabled, will still accrue debt. This means, if you plan to do manual lending, disable the bot immediately, or you will be charged.
						</p>
						<p>
							In the event you disagree with the debts being accumulated, disable lending immediatly and contact support@hodl.zone. In the event unfair debt was accrued, HODL.ZONE may issue credits to our discretion, but at no point will issue any refunds.
						</p>
						<h1>Payment Processing</h1>
						<p>
							All payments will be recorded in BTC value, as that is how all debt is charged. All payments must be done in BTC, however if you own a Coinbase account, you may use USD, ETH, or LTC, and they will be converted to their BTC value.
						</p>
						<p>
							Be sure to double check the amount selected before finializing any payments. It is a custom field with a few suggested amounts. Although any amount can be inputted, the user is responsible for any transaction fees (if using Coinbase account, there is none).
						</p>
					</div>
					<div class="col-xs-12" style="text-align: center;padding-top: 15px;">
						<input id="accept-deposit-box" type="checkbox" name="vehicle" value="Bike"> By checking this box you accept to the Refund Policy and Disclaimer
						<br />
						<br />
						<a id="deposit-coinbase-button" href="https://www.coinbase.com/checkouts/{{code}}" class="btn btn-primary  coinbase-button2 disabled" style="" data-code="{{code}}" data-custom="{{username}}" >
							<i class="icon-basket"></i> Pay Through Coinbase
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
		<!-- /Refund Policy -->
	</div>
</div>

