<div class="">
	<div class="page-title">
		<!-- Paid -->
		<div class="row">
			<div class="title_left">
				<h1>Payment Info</h1>
			</div>
		</div>
		<!-- Status -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="col-xs-6">
						<p class="lead">Payment Methods:</p>
						<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
							Hey there, we currently only accept Bitcoin as payment for debts. If you own a Coinbase account, you can also pay in USD. If you have a problem with the payments please contact us on our <a href="https://hodlzone-slack.herokuapp.com/" target="_blank">hodlzone-slack</a> or email us at <a>support@hodl.zone</a>.
							<br />
						</p>
						<div style="width: 100%; text-align: center;">
							<a class="btn btn-primary" href="#/deposit">Add Credits</a>
						</div>
					</div>
					<div class="col-xs-6">
						<p class="lead">Amount Due 2/22/2014</p>
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<th style="width:50%">Total Debt:</th>
										<td>{{status.tdebt}}</td>
									</tr>
									<tr>
										<th>Unspent Credit: </th>
										<td>{{status.unspentcred}} BTC</td>
									</tr>
									<tr>
										<th>Spent Credit:</th>
										<td>{{status.spentcred}} BTC</td>
									</tr>
									<tr>
										<th>Custom Charge Reduction:</th>
										<td>{{status.customchargereduc}}%</td>
									</tr>
									<tr>
										<th>Referral Code <small>(your code to share)</small>:</th>
										<td>{{status.referralcode}}</td>
									</tr>
									<tr>
										<th>Referee Code <small>(account who referred you)</small>: </th>
										<td ng-show="status.refereecode == ''"><i>None set, you can set your referee code in <a href="#/settings/user">User Settings</a>.</i></td>
										<td ng-show="status.refereecode != ''">{{status.refereecode}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Status -->
		<!-- Paid -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>User Payment Logs</small></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div ng-show="paidlog">
							<table id="paidlog" class="table table-striped" cellspacing="0" width="100%">
							</table>
						</div>
						<p ng-show="!paidlog">
							No payments found.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Paid -->
		<!-- Debt -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>User Debt Logs</small></h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div ng-show="debtlog">
							<table id="debtlog" class="table table-striped" cellspacing="0" width="100%">
							</table>
						</div>
						<p ng-show="!debtlog">
							No debts found.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Debt -->
	</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Detailed Payment Information</h4>
			</div>
			<div class="modal-body">
				<div class="row">
				<!-- <div class="col-md-offset-3"></div> -->
				<div class="col-md-8 col-md-offset-2">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>Code</td>
									<td>SDG5SSf</td>
								</tr>
								<tr>
									<td>Credited</td>
									<td>stevenmasley@gmail.com</td>
								</tr>
								<tr>
									<td>Contacted</td>
									<td>stevenmasley@gmail.com</td>
								</tr>
								<tr>
									<td>Coinbase Payment Date:</td>
									<td>15:02 2017/08/17</td>
								</tr>
								<tr>
									<td>HODL.ZONE Payment Date:</td>
									<td>15:02 2017/08/17</td>
								</tr>
								<tr>
									<td>Payment Amount</td>
									<td>1.50 BTC</td>
								</tr>
								<tr>
									<td>Coinbase Receipt</td>
									<td><a href="https://www.coinbase.com/orders/44fddde0fb0d9c8accaf2805d89f5de2/receipt">Click Here</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- <div class="col-sm-6 invoice-col">
                          From
                          <address>
                                          <strong>Iron Admin, Inc.</strong>
                                          <br>795 Freedom Ave, Suite 600
                                          <br>New York, CA 94107
                                          <br>Phone: 1 (804) 123-9876
                                          <br>Email: ironadmin.com
                                      </address>
                        </div>
 -->

