<div class="">
  <div class="page-title">
    <!-- Paid -->
    <div class="row">
      <div class="title_left">
        <h1>Predictions</h1>
        <h1>
          {{status.refereecode}}
          {{status.refereetime}}
          {{status.referralcode}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> Estimation of Potential Earnings <small>Float left</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <p>This page is designed to assist the user in predicting their potential earnings from lending. All predictions are based off the average lending rates over the last 30 days. This is by no means 100% accurate, as market trends can swing up or down, drastically changing the predictions. This is merely a tool to help users get a general sense of their potential earnings.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> Predictions for Token <small>Float left</small></h2>
            <div class="clearfix"></div>
            <p>All predictions will be made for lending rates on the Poloniex Exchange, and assume 100% lending uptime.</p>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="well">
              <div class="col-xs-offset-2">
                <table class="prediction-input-table">
                  <tr>
                    <td class="tooltip"><label>Token: </label> <span class="tooltiptext">Tooltip text</span></td>
                    <td>
                      <select>
                        <option value="BTC">BTC</option>
                        <option value="BTS">BTS</option>
                        <option value="CLAM">CLAM</option>
                        <option value="DOGE">DOGE</option>
                        <option value="DASH">DASH</option>
                        <option value="LTC">LTC</option>
                        <option value="MAID">MAID</option>
                        <option value="STR">STR</option>
                        <option value="XMR">XMR</option>
                        <option value="XRP">XRP</option>
                        <option value="ETH">ETH</option>
                        <option value="FCT">FCT</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label>Quantity: </label></td>
                    <td><input type="number" id="number" name="number"></td>
                  </tr>
                </table>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>