<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Lending Settings</h3>
		</div>
		<div class="clearfix"></div>
		<div class="row" ng-init="enabled2FA = [[.enabled2FA]]; verified = [[.verified]]; has2FA = [[.has2FA]]; rangeTimeMin = [[.minSessionTime]]; rangeTimeMax = [[.maxSessionTime]]; rangeTimeCur = [[.currentSessionTime]];">
			<!-- Create 2fa-->
			<div class="col-sm-12 col-xs-12"  ng-show="!has2FA">
				<div class="x_panel">
					<div class="x_title">
						<h2>Create Two Factor Authentication</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						By activating two factor authenitcation, you will be no longer able to log in without a password. Be careful when selecting this, as losing your two factor authentication also loses access to your account. 
						<div class="ln_solid"></div>
						<div class="alert alert-danger fade in" role="alert" ng-show="create2FAError.length > 0">
							<strong>{{create2FAError}}</strong>
						</div>
						<form class="form-horizontal form-label-left" name="createTwofaForm">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Password:<span class="required">*</span></label>
								<div class="col-md-7 col-sm-9 col-xs-9">
									<input ng-model="pass2FA" placeholder="Password..." type="password" class="form-control" ng-disabled="loadingCreate2FA">
								</div>
							</div>
							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button class="btn btn-success" ng-click="create2FA()" ng-disabled="!createTwofaForm.$valid || loadingCreate2FA">Create 2FA
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Create 2fa -->

			<!-- QRCode -->
			<div class="col-sm-12 col-xs-12" ng-show="qrcode">
				<!-- <div class="col-sm-12 col-xs-12"> -->
				<div class="x_panel">
					<div class="x_title">
						<h2>QRCode</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content text-center">
						<form class="form-horizontal form-label-left">
							<h2>Scan this QR code with your Google Authenticator. Once you leave this page, this will never be displayed again, it might be wise to print this page out. Once you do that, refresh this page and ENABLE 2fa. Two Factor must be ENABLED to work, and won't be enabled until you input your 2fa token string after the page is refreshed.</h2>
							<img  ng-src="{{qrcode}}"/>
							<!-- <img  src="/public/img/donateaddress.png"/> -->
						</form>
					</div>
				</div>
			</div>
			<!-- /QRCode-->

			<!-- Enable/Disable 2fa-->
			<div class="col-sm-12 col-xs-12"  ng-show="has2FA">
				<div class="x_panel">
					<div class="x_title">
						<h2>Two Factor Authentication</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="alert alert-success fade in" role="alert" ng-show="enable2FASuccess.length > 0">
							<strong>{{enable2FASuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="enable2FAError.length > 0">
							<strong>{{enable2FAError}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="create2FAError.length > 0">
							<strong>{{create2FAError}}</strong>
						</div>
						<b><span ng-class="enabled2FA ? 'green' : 'red'">Currently 2FA is: {{enabled2FA ? 'Enabled' : 'Disabled'}}</span></b>
						<div class="ln_solid"></div>
						<form class="form-horizontal form-label-left" name="twofaForm">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Password:<span class="required">*</span></label>
								<div class="col-md-7 col-sm-9 col-xs-9">
									<input ng-model="pass2FA" name="pass2FA" required="required" placeholder="Password..." type="password" class="form-control" ng-disabled="loadingEnable2FA">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="token">Token:<span class="required">*</span>
								</label>
								<div class="col-md-7 col-sm-9 col-xs-12">
									<input type="text" ng-model="token" placeholder="Token..." required="required" class="form-control col-md-7 col-xs-12" ng-disabled="loadingEnable2FA" mask="999999">
								</div>
							</div>
							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-2 col-md-offset-3">
									<button ng-class="'btn ' + (!enabled2FA ? 'btn-success' : 'btn-danger')" ng-click="enable2FA(!enabled2FA)" ng-disabled="!twofaForm.$valid || loadingEnable2FA">
										{{(!enabled2FA ? 'Enable' : 'Disable') + '2FA'}}
									</button>
								</div>
								<div class="col-md-3 col-md-offset-3">
									<button class="btn btn-danger" ng-click="create2FA()" ng-disabled="!twofaForm.pass2FA.$valid || loadingCreate2FA">Create New 2FA
									</button>
									<br>
									<sub>Only a password is required to create a new 2FA</sub>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Enable/Disable 2fa -->

			<!-- Verify Email -->
			<div class="col-sm-12 col-xs-12" ng-if="!verified">
				<div class="x_panel">
					<div class="x_title">
						<h2>Verify Email</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="alert alert-success fade in" role="alert" ng-show="verifiedSuccess.length > 0">
							<strong>{{verifiedSuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="verifiedError.length > 0">
							<strong>{{verifiedError}}</strong>
						</div>
						<form class="form-horizontal form-label-left">
							Please verify your email!
							<br />
							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button type="submit" class="btn btn-success" ng-disabled="loadingVerified" ng-click="verifyEmail()">Verify Email</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Verify Email-->
			<!-- Change Password -->
			<div class="col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Change Password</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="alert alert-success fade in" role="alert" ng-show="changePassSuccess.length > 0">
							<strong>{{changePassSuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="changePassError.length > 0">
							<strong>{{changePassError}}</strong>
						</div>
						<form class="form-horizontal form-label-left" name="changePassForm">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Current Password</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" class="form-control" ng-model="pass">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">New Password</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" class="form-control" ng-model="passNew" required="required">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Confirm New Password</label>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<input type="password" class="form-control" ng-model="passNew2" required="required" ng-pattern="passNew" name="passNew2">
								</div>
								<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
								<label ng-show="changePassForm.passNew2.$error.pattern" class="control-label col-md-3 col-sm-3 col-xs-12" style="color:red;">passwords must match</label>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button class="btn btn-success" ng-click="changePass()" ng-disabled="changePassForm.$invalid">Apply</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Change Password -->
			<!-- Referee -->
			<div class="col-sm-12 col-xs-12" ng-hide="hasReferee">
				<div class="x_panel">
					<div class="x_title">
						<h2>Set Referee</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="alert alert-success fade in" role="alert" ng-show="setRefereeSuccess.length > 0">
							<strong>{{setRefereeSuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="setRefereeError.length > 0">
							<strong>{{setRefereeError}}</strong>
						</div>
						Please enter in referee code.
						<br />
						<form class="form-horizontal form-label-left" ng-hide="setRefereeSuccess != ''">
							<div class="ln_solid"></div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Referee:</label>
								<div class="col-md-7 col-sm-9 col-xs-9">
									<input ng-model="referee" name="referee" required="required" placeholder="Referee Code..." type="text" class="form-control">
								</div>
							</div>
							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<button type="submit" class="btn btn-success" ng-click="setReferee()">Set Referee</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /Referee -->
			<!-- Alter Default Session Wait Time -->
			<div class="col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Extend Time Waited between Sessions</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="alert alert-success fade in" role="alert" ng-show="changeExpirySuccess.length > 0">
							<strong>{{changeExpirySuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="changeExpiryError.length > 0">
							<strong>{{changeExpiryError}}</strong>
						</div>
						<div>
							<input type="text" id="range_time_slider" value="" name="range" />
						</div>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-9 col-md-offset-3">
								<button class="btn btn-success" ng-click="changeExpiry()" ng-disabled="">Update Session Alive Time
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Alter Default Session Wait Time-->
			<!-- CheckSessions -->
			<div class="col-sm-12 col-xs-12" ng-init='userSessions = [[.sessions]];'>
				<div class="x_panel">
					<div class="x_title">
						<h2>Active Sessions</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p>
							<i>Note: Only sessions shown are those besides current session. To close this session, please logout.</i><br>
							<span ng-show='userSessions.length == 0'>
								No active active sessions open besides current session.
							</span>
						</p>
						<div class="alert alert-success fade in" role="alert" ng-show="deleteSessionSuccess.length > 0">
							<strong>{{deleteSessionSuccess}}</strong>
						</div>
						<div class="alert alert-danger fade in" role="alert" ng-show="deleteSessionError.length > 0">
							<strong>{{deleteSessionError}}</strong>
						</div>
						<ul class="list-group" style="line-height:30px;" ng-show='userSessions.length > 0'>
							<li class="list-group-item" ng-repeat="s in userSessions">
								<div style="display: flex; justify-content: space-between;">
									<div style="flex-direction: column;">
										<p>
											SessionId: {{s.sessionId}}<br>
											Last Renewal Time: {{s.lrt}}<br>
											Current IP: {{s.ip}}<br>
										</p>
									</div>
									<div style="display: flex; justify-content: center; align-items: center;">
										<div style="flex-direction: column; float:right;">
											<button class="btn btn-sm btn-danger clearfix pull-right" ng-click="deleteSession(s.sessionId)">
												Delete
											</button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /CheckSessions -->
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#range_02").ionRangeSlider({
		"min": 1,
		"step": 1,
		"from": 8,
		"max": 52,
		grid: true,
		onChange: function (data) {
			weeks = data.from
			console.log(data.from);
			updateBTCAmount()
		},
	});
</script>