<h1>
Settings Dashboard
</h1>

<h2>
	Setup 2FA
</h2>
<!-- Create qrcode -->
<p>
Has2FA: {{has2FA}} <br>
Enabled2FA: {{enabled2FA}}
</p>
<div ng-init="has2FA = [[.has2FA]]">
	<div ng-show="!has2FA">
		<input type="password" ng-model="pass2FA">
		<button ng-click="create2FA()">Create 2FA</button>
	</div>
</div>
<img ng-show="qrcode" ng-src="qrcode"/>

<div ng-init="enabled2FA = [[.enabled2FA]]">
	<!-- Enable qrcode -->
	<div ng-show="has2FA && !enabled2FA">
		<input type="password" ng-model="enablePass">
		<button ng-click="enable2FA(true)">Enable 2FA</button>
	</div>

	<!-- Disable qrcode -->
	<div ng-show="has2FA && enabled2FA">
		<input type="password" ng-model="disablePass">
		<button ng-click="enable2FA(false)">Disable 2FA</button>
	</div>
</div>