  <div class="">
  	<div class="page-title">
  		<div class="title_left">
  			<h3>Admin Settings</h3>
  		</div>
  		<div class="clearfix"></div>

  		<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
          <table id="userTable" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Email</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in users track by u.email" ng-click="selectUser($index)">
                <td>
                  {{u.email}}
                </td>
                <td>
                  {{u.priv}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-show="selectedUser">
        <!-- Change Password -->
        <div class="col-sm-12 col-xs-12">
           <div class="x_panel">
              <div class="x_title">
                 <h2>Alter User</h2>
                 <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="alert alert-danger fade in" role="alert" ng-show="updateUserError.length > 0">
                  <strong>{{updateUserError}}</strong>
                </div>
                 <br />
                 <form class="form-horizontal form-label-left">
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <p style="margin: 0px;">
                          {{selectedUser.email}}
                          </p>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Priv</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" ng-model="selectedUser.priv" ng-options="l for l in lev">
                          </select>
                       </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Your Password</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <input ng-model="adminPass" type="password" class="form-control" value="">
                       </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                       <div class="col-md-9 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="changeUserPriv()">Apply</button>
                          <button class="btn btn-primary" type="reset" ng-click="selectedUser=null;">Cancel</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <!-- /Change Password -->
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
           <div class="x_panel">
              <div class="x_title">
                 <h2>All Invites</h2>
                 <div class="clearfix"></div>
              </div>
              <div class="x_content">
              <table id="inviteTable" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Capacity</th>
                    <th>UserClaims</th>
                    <th>Expires</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in invites track by i.c" ng-click="selectInvite($index)">
                    <td>
                      {{i.rawc}}
                    </td>
                    <td>
                      {{i.cap}}
                    </td>
                    <td>
                      {{i.users}}
                    </td>
                    <td>
                      {{i.time}}
                    </td>
                    <td>
                      <button class="btn btn-danger" ng-click="deleteInvite(i.c)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
           <div class="x_panel">
              <div class="x_title">
                 <h2>Make Invite</h2>
                 <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="alert alert-danger fade in" role="alert" ng-show="makeInviteError.length > 0">
                  <strong>{{makeInviteError}}</strong>
                </div>
                 <br />
                 <form class="form-horizontal form-label-left">
                    <div class="ln_solid"></div>
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Raw Code</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <input ng-model="makeInvite.rawc" type="string" class="form-control" value="">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Capacity</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <input ng-model="makeInvite.cap" type="number" class="form-control" value="">
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12">Hour</label>
                       <div class="col-md-9 col-sm-9 col-xs-12">
                          <input ng-model="makeInvite.hr" type="number" class="form-control" value="">
                       </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                       <div class="col-md-9 col-md-offset-3">
                          <button type="submit" class="btn btn-success" ng-click="createInvite()">Make</button>
                          <button class="btn btn-primary" type="reset" ng-click="makeInvite=null;">Reset</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
      </div>  
  </div>
</div>