[[if eq .RunMode "dev"]]
[[template "errors/404-dev.html" .]]
<hr />

[[with .Error]]
<h1>
	[[.Title]]
</h1>
<p>
	[[.Description]]
</p>
[[end]]
[[else]]

[[set . "title" "Home"]]
[[set . "Inverse" true]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]


<section id="faq-content" class="push-footer">
	<section id="faq-title" class="container">
		<div class="row">
			<div class="col-xs-12 center-text">
				<h1 class="error-number">403</h1>
			</div>
		</div>
	</section>

	<section id="information" class="push-footer">
		<div class="container-fluid center-text">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<h1>Access denied</h1>
					<h3>Full authentication is required to access this resource.</h3>
				</div>
			</div>
		</div>
	</section>
</section>

[[template "index/footer.html" .]]

[[end]]