[[if eq .RunMode "dev"]]
[[template "errors/404-dev.html" .]]
<hr />

[[with .Error]]
<h1>
	[[.Title]]
</h1>
<p>
	[[.Description]]
</p>
[[end]]
[[else]]

[[set . "title" "Home"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<div class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- page content -->
			<div class="col-md-12">
				<div class="col-middle">
					<div class="text-center text-center">
						<h1 class="error-number">403</h1>
						<h2>Access denied</h2>
						<p>Full authentication is required to access this resource.
						</p>
					</div>
				</div>
			</div>
			<!-- /page content -->
		</div>
	</div>
</div>
<div class="buffer"></div>
<div class="buffer"></div>
<div class="buffer"></div>
[[template "index/footer.html" .]]

[[end]]