[[set . "title" "Contact"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <h1>[[msg . "contact.header"]]</h1>
        <h3>[[msg . "contact.description"]]</h3>
      </div>
      <div class="buffer"></div>
        <div class="col-sm-6 col-xs-12 center-text">
          <h3>
            <a data-toggle="modal" href="https://hodlzone-slack.herokuapp.com/">
              <i class="fa fa-slack" aria-hidden="true"></i>
              [[msg . "contact.joinslack"]]
            </a>
          </h3>
        </div>
        <div class="col-sm-6 col-xs-12 center-text">
          <h3>
            <a>
              <i class="fa fa-envelope-o" aria-hidden="true"></i> [[msg . "contact.emailus"]]
            </a>
          </h3>
        </div>
      </div>
    </div>
  </section>

<div class="buffer"></div>
<div class="buffer"></div>
<div class="buffer"></div>
<div class="buffer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="meet-the-team">
      <!-- SPEAKERS SECTION --> 
      <section id="speakers">
        <!-- <h3>Speakers</h3> Section Title -->
        <!-- <div class="separator"></div> -->
        <div class="container">
          <div class="col-md-9 col-md-offset-2">
            <!-- Section Description -->
            <h2>[[msg . "contact.sectiondescription"]]</h2>
          </div>

          <!-- First Row of Speakers -->
          <div class="row">
            <!-- Speaker 1 -->
            <div class="col-md-3 col-md-offset-2">
              <a href="#" class="member-profile">
                <div class="unhover_img">
                  <img src="/public/img/masley2.jpg" alt="" />
                </div>
                <div class="hover_img">
                  <img src="/public/img/masley.jpg" alt="" />
                </div>
                <span>[[msg . "contact.leaddeveloper"]]</span>
                <h4><span>Steven </span> Masley</h4>
              </a>  
              <ul>
                <li><a href="https://github.com/Emyrk" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/steven-masley-593983120"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>

            <!-- Speaker 2 -->
            <div class="col-md-3">
              <a href="#" class="member-profile">
                <div class="unhover_img">
                  <img src="/public/img/saran2.jpg" alt="" />
                </div>
                <div class="hover_img">
                  <img src="/public/img/saran.jpg" alt="" />
                </div>
                <span>[[msg . "contact.leaddeveloper"]]</span>
                <h4><span>Jesse</span> Saran</h4>
              </a>  
              <ul>
                <li><a href="https://github.com/swrap" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jesse-saran-52b17668"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          
            <!-- Speaker 3 -->
            <div class="col-md-3">
              <a href="#" class="member-profile">
                <div class="unhover_img">
                  <img src="/public/img/mike2.jpg" alt="" />
                </div>
                <div class="hover_img">
                  <img src="/public/img/mike.jpg" alt="" />
                </div>
                <span>[[msg . "contact.translator"]]</span>
                <h4><span>Mike</span>Chou</h4>
              </a>  
              <ul>
                <li><a href="https://github.com/Mike13tw" target="_blank"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    </div>
  <!-- //SPEAKERS SECTION --> 

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
</div>

[[template "index/footer.html" .]]

