[[set . "title" "Donate"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content" class="push-footer">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <img src="/public/img/RibbonDonateBitcoin.png"/>
      </div>
      <div class="col-xs-12 center-text">
        <h3>[[msg . "donate.description"]] <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
      </div>
      <div class="buffer"></div>
      <div class="col-md-6 col-sm-12 col-xs-12 center-text">
        <h3>
         <img id="bitcoindonate" src="/public/img/donateaddress.png"/>
       </h3>
     </div>
     <div class="col-md-6 col-sm-12 col-xs-12 center-text">
      <div class="bitcoin-donate-address">
        <h3>
          <a>
            <i class="fa fa-btc" aria-hidden="true"></i> 35SCsCrUJnTC2zEf2WUpmnt5HgXvqfRrs6
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
</section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
</div>

[[template "index/footer.html" .]]

