[[set . "title" "FAQ"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </section>

  <section id="faq-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <a href="#question1" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What does HODL mean? Don't you mean HOLD?
          </a>
          <div id="question1" class="collapse">
            <p>Hodl is a meme from early bitcoin days. It was part of a satirical post encouraging individuals who owned bitcoin to not sell during price increases or decreases to reduce volatility and speculative price swings. It has since become a meme of the bitcoin community and a reminder that bitcoin's value has, for the past 8 years, progressed upwards which you benefit from if you HODL your coins.</p>
          </div>


          <a href="#question2" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What is HODL.ZONE?
          </a>
          <div id="question2" class="collapse">
            <p>HODL.ZONE is a service that helps grow your crypto HOLDings by taking advantage of Poloniex's lending system.</p>
          </div>

          <a href="#question3" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What is lending?
          </a>
          <div id="question3" class="collapse">
            <p>Traders are able to increase their profits (and losses) by trading with money they borrow from other users. To incentivise other users into lending them crypto, they offer interest on that loan. These interest rates change with trading activity, daily prices, and recent news.</p>
          </div>

          <a href="#question4" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            Is lending safe?
          </a>
          <div id="question4" class="collapse">
            <p>Normally, when giving a loan, you have to worry about the other party defaulting on your loan. Luckily Poloniex prevents this from happening, by making borrowers put up a stake, and auto liquidating their funds if they come close to defaulting.</p>
          </div>

          <a href="#question5" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            How do I lend?
          </a>
          <div id="question5" class="collapse">
            <p>You can lend by moving funds from your Exchange to your Lending account on Poloniex and posting lends at a rate and hoping for a borrower to grab it. These loans can last anywhere from a second to 60 days (We cap our loans out at 2 days, so your funds are never tied up for very long). This makes manual lending hard, as everytime you check back, you'll have funds waiting to be lent. That's why using an automated service such as HODL.ZONE will maximize your profits by keeping your crypto lent and not sitting around.</p>
          </div>

          <a href="#question6" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            But why HODL.ZONE?
          </a>
          <div id="question6" class="collapse">
            <p>We are constantly recording statistics on lending rates and determining the best strategies to get the best rates. Because the rates are so volatile, we aim to not only maximize uptime, but also the rates themselves.</p>
          </div>

          <a href="#question7" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            Can I trust HODL.ZONE?
          </a>
          <div id="question7" class="collapse">
            <p>When giving us access to your account via an API, restrict the API to make only trades. This reduces your risk by not allowing us to take your coins, and also reduces our risk. We are crypto HODLers who are offering a service that we created, and in light of trust, we opening give out our identities and have an open communication channel on Slack. Feel free to talk to us about any concerns or comments</p>
          </div>


          <a href="#question8" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            Can I trust Poloniex? I hold my own Bitcoin.
          </a>
          <div id="question8" class="collapse">
            <p>We understand the risk of holding your crypto on an exchange, and are not trying to endorse Poloniex as the place to store your savings. However, keeping money on Poloniex enables you to earn interest off of your savings. Crypto held on a paper wallet doesn't earn any interst</p>
          </div>


          <a href="#question9" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            How much money can I make?
          </a>
          <div id="question9" class="collapse">
            <p>The rates change constantly, some days you can make up to 0.5% of your crypto PER DAY, but they can get pretty low too. The calculator on the front page is using the monthy average rate for BTC lending, so feel to try it out. We will work on a way to show the potential profits.</p>
          </div>

          <a href="#question9" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What if my money is tied up in an alt coin?
          </a>
          <div id="question9" class="collapse">
            <p>Although we focus on lending BTC, we also support lending for BTS, CLAM, DOGE, DASH, LTC, MAID, STR, XMR, ETH, and FCT. Keep in mind our focus is on BTC, and if you have another token, we have not tuned in the algorithms we used for token. However, we'd love to be able too, and can work with you on maximizing your earnings.</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
[[template "index/footer.html" .]]

