[[set . "title" "Home"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </section>

  <section id="faq-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <a href="#question1" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What does HODL mean? Don't you mean HOLD?
          </a>
          <div id="question1" class="collapse">
            <p>Hodl is a meme from early bitcoin days. It was part of a satirical post encouraging individuals who owned bitcoin to not sell during price increases or decreases to reduce volatility and speculative price swings. It has since become a meme of the bitcoin community and a reminder that bitcoin's value has, for the past 8 years, progressed upwards which you benefit from if you HODL your coins.</p>
          </div>


              [[if eq .RunMode "dev"]]
          <a href="#question2" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            What are our favorite colors?
          </a>
          <div id="question2" class="collapse">
            <p>Team favorites are: yellow and blue</p>
          </div>

          <a href="#question3" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            Where is the HODL.ZONE running?
          </a>
          <div id="question3" class="collapse">
            <p>Don't you worry, it is safe in the cloud protect by the all-mighty-powers that be. Some may dare to enter thy kingdom, but they shall not trespase successfully.</p>
          </div>

          <a href="#question4" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            How do I lend crypto?
          </a>
          <div id="question4" class="collapse">
            <p>You have to setup a key and only gives us the right to lend, NOT to trade. We are working on setting up an awesome tutorial. :)</p>
          </div>

          <a href="#question5" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            Where are my funds stored?
          </a>
          <div id="question5" class="collapse">
            <p>On poloniex. We do not store any money at all, we are only in charge of changing.</p>
          </div>
          [[end]]

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
[[template "index/footer.html" .]]

