[[set . "title" "FAQ"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <h1>[[msg . "faq.title"]]</h1>
      </div>
    </div>
  </section>

  <section id="faq-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <a href="#question1" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_1"]]
          </a>
          <div id="question1" class="collapse">
            <p>
            [[msg . "faq.answer_1"]]</p>
          </div>


          <a href="#question2" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_2"]]
          </a>
          <div id="question2" class="collapse">
            <p>[[msg . "faq.answer_2"]]</p>
          </div>

          <a href="#question3" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_3"]]
          </a>
          <div id="question3" class="collapse">
            <p>[[msg . "faq.answer_3"]]</p>
          </div>

          <a href="#question4" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_4"]]
          </a>
          <div id="question4" class="collapse">
            <p>[[msg . "faq.answer_4"]]</p>
          </div>

          <a href="#question5" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_5"]]
          </a>
          <div id="question5" class="collapse">
            <p>[[msg . "faq.answer_5"]]</p>
          </div>

          <a href="#question6" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_6"]]
          </a>
          <div id="question6" class="collapse">
            <p>[[msg . "faq.answer_6"]]</p>
          </div>

          <a href="#question7" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_7"]]
          </a>
          <div id="question7" class="collapse">
            <p>[[msg . "faq.answer_7"]]</p>
          </div>


          <a href="#question8" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_8"]]
          </a>
          <div id="question8" class="collapse">
            <p>[[msg . "faq.answer_8"]]</p>
          </div>


          <a href="#question9" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_9"]]
          </a>
          <div id="question9" class="collapse">
            <p>[[msg . "faq.answer_9"]]</p>
          </div>

          <a href="#question10" data-toggle="collapse">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> 
            [[msg . "faq.question_10"]]
          </a>
          <div id="question10" class="collapse">
            <p>[[msg . "faq.answer_10"]]</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
[[template "index/footer.html" .]]

