[[set . "title" "FAQ"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="faq-content">
  <section id="faq-title" class="container">
    <div class="row">
      <div class="col-xs-12 center-text">
        <h1>Information</h1>
      </div>
    </div>
  </section>

  <section id="information">
    <div class="container">
      <div class="row">
      	<div class="col-xs-12">
      		<h2>Active Support</h2>
      		<p>The best place to get questions answered quickly is our Slack. Click <a href="https://hodlzone-slack.herokuapp.com/">here</a> to join!</p>
      		<p>Alternativly email us at Support@hodl.zone</p>
      	</div>

      	<div class="col-xs-12">
      		<h2>Blog</h2>
      		<p>You can view our blog for articles related to HODL.ZONE <a href="https://medium.com/hodlzone">here</a></p>
      	</div>

      	<div class="col-xs-12">
      		<h2>Twitter</h2>
      		<p>You can view recent announcements on our Twitter <a href="https://twitter.com/hodldotzone">here</a></p>
      	</div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
[[template "index/footer.html" .]]

