[[set . "title" "FAQ"]]
[[template "index/indexHeader.html" .]]
[[template "index/indexnav.html" .]]

<section id="forgot-password" class="vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" id="center-box">
    <div style="text-align:center;line-height:100%;width:100%;height:100%; padding: 20px 10px 0px 10px;"><h3>Oh no, the link you send is dead :( You will have to make a new request.<br>
      Click <a href="[[url "App.Index"]]">here</a> to go home.
    </h3></div>
      </div>
    </div>
  </div>
</section>

  <div class="container">
    <div class="row">
      <div class="span6">


        [[template "index/flash.html" .]]
      </div>
    </div>
  </div>
</section>
[[template "index/footer.html" .]]



