
<!doctype html>
<html>
<head>
  <title>Donate | Image Overlay Utility</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

  <link href="public/css/donate.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
  <div class="container">
    <div class="header">
      <h3><img src="img/icon.png" height="48" width="48" />&nbsp; Image Overlay Utility</h3>
      <ul class="nav nav-justified nav-tabs">
        <li><a href="index.html">   <img src="img/icons_16/house.png" />          Home         </a></li>
        <li><a href="download.html"><img src="img/icons_16/page_white_zip.png" /> Download     </a></li>
        <!-- <li><a href="docs.html">    <img src="img/icons_16/script.png" />         Documentation</a></li> -->
        <!-- <li><a href="donate.html">  <img src="img/icons_16/heart.png" />          Donate       </a></li> -->
        <!--<li><a href="faq.html">     <img src="img/icons_16/information.png" />    FAQ          </a></li>-->
        <!-- <li><a href="contact.html"> <img src="img/icons_16/email.png" />          Contact      </a></li> -->
      </ul>
    </div>

    <div class="container-fluid" id="main">
      <section id="content">
        <p>As Image Overlay Utility is the pet project of a single person, donations definitely help to encourage further development. PayPal is preferred, but you can also send Bitcoin to the wallet address below.</p>
        <p>Donors may have their feature requests implemented sooner. You can add your feature request in the PayPal comments section or in an email to <i class="fa fa-envelope-o"></i> <a href="mailto:imageoverlayutility@gmail.com?subject=Image Overlay Utility: Feature Request">imageoverlayutility@gmail.com</a>.</p>
        <p>Note that donating does <b>NOT</b> grant one a license. Users who wish to purchase a license for the program should do so <a href="https://gumroad.com/l/imageoverlayutility">here</a>.</p>
        <div class="row donaterow">
          <div class="col-md-6 donatevia">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=8JXF2D4LVN5L2" title="Donate via PayPal">
              <div class="link">
                Donate via<br />
                <img src="img/paypal-logo-big.png" alt="PayPal" class="img-responsive" />
              </div>
            </a>
          </div>
          <div class="col-md-6 sendto">
            Send USD to
            <pre class="address">imageoverlayutility@gmail.com</pre>
          </div>
        </div>
        <div class="row donaterow">
          <div class="col-md-6 donatevia">
            <a href="bitcoin:1MR3v5N1qktBJpkZZRcitymGedzdbHabcj" title="Open Bitcoin wallet">
              <div class="link">
                Donate via<br />
                <img src="img/bitcoin-logo-big.png" alt="Bitcoin" class="img-responsive" />
              </div>
            </a>
          </div>
          <div class="col-md-6 sendto">
            Send Bitcoin to wallet address
            <pre class="address">1MR3v5N1qktBJpkZZRcitymGedzdbHabcj</pre>
          </div>
        </div>
      </section>
    </div>
    <div class="footer clearfix">
      Copyright &copy; 2013&ndash;2016. All rights reserved.
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
