<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>Last Month {{coin}} Lending History</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div ng-show="hasCompleteLoans">
				<div id="lendingHistoryChart" style="height:500px; width:100%;"></div>

				<div class="ln_solid"></div>
				<div class="pull-right">
				<button class="btn btn-primary" ng-click="swapLendingHistoryType()">
						{{'Switched to ' + (isLendingHistoryCrypto ? 'Dollars' : coin)}}
					</button>
				</div>
			</div>
			<div ng-hide="hasCompleteLoans">
				No Lending History Found.
			</div>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Last Month {{coin}} Lending Rates</h2>
			<div class="clearfix"></div>
			<p>The middle line is the average active rate for that given moment in time. The area around it shows the highest and lowest rates.</p>
		</div>
		<div class="x_content">
              <div class="alert alert-info fade in" role="alert" ng-show="loadingDetailedLendingHistory">Loading detailed lending history... this may take a moment.
                <strong><span><i class="fa fa-spinner fa-spin"></i></span></strong>
              </div>
			<div id="lending-rate-graph" ng-show="detailedLendingHistory" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
	</div>
</div>


