<!DOCTYPE html>

<html>
<head>
	<title>[[.title]]</title>
	[[template "baseHeader.html" .]]
	<!-- Angular routing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js" type="text/javascript"></script>

	<!-- Jquery Cookies routing -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="/public/js/dashboard.js" type="text/javascript" charset="utf-8"></script>
	[[if eq .UserLevel "1"]]
		<script src="/public/js/dashboardSysAdmin.js" type="text/javascript" charset="utf-8"></script>
	[[end]]
	[[if eq .UserLevel "2"]]
		<script src="/public/js/dashboardAdmin.js" type="text/javascript" charset="utf-8"></script>
	[[end]]
</head>
<body ng-app="lendingApp">