<section class="hero-image">
	<div class="hero-mask"></div>
	<div class="hero-title">
		<div class="hero-title-left">
			Lender
		</div>
		<ul class="hero-title-right">
			<!-- FAQ, Login, Signup -->
			<li class="hero-title-link"><a href="#">FAQ</a></li>
			<li class="hero-title-link"><a href="#">Login</a></li>
			<li class="hero-title-link"><a href="#">Signup</a></li>
		</ul>
	</div>
	<div class="hero-center">
		<div class="hero-center-text">
			Grow your crypto-holdings while you HODL
		</div>
		<a class="hero-center-button" href="#authentication-form">Start Lending</a>
	</div>
</section> 