<div class="navbar navbar-inverse navbar-lock">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-brand" href="#">HODL.ZONE</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></span> FAQ</a></li>
        <li><a href="#"></span> Login</a></li>
        <li><a href="#"></span> Signup</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>