 <!-- DESKTOP NAV -->

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
      <a href="http://deanmasley.com/sandbox/">Sandbox</a></li>
      
      <!-- TOOLBOX MENU -->
      <li>
        <a href="#">PoopBox</a>
        <ul class="menu vertical">
          <li><a href="http://deanmasley.com/sandbox/cal.html">BEN Cal</a></li>
        </ul>
      </li>


      <!-- MISC MENU -->
      <li>
        <a href="#">Misc</a>
        <ul class="menu vertical">
          <li><a href="http://deanmasley.com/sandbox/js.html">.js</a></li>
          <li><a href="http://deanmasley.com/sandbox/hero.html">Hero</a></li>
          <li><a href="http://deanmasley.com/sandbox/forms.html">Forms</a></li>
        </ul>
      </li>

  </div>
</div>